<p>Tech to use:</p>
<ul>
    <li>Backbone</li>
    <li>React</li>
</ul>
<div class="contractors-container">
    <ul></ul>
    <input type="text" class="new-contractor" placeholder="New Contractor">
    <button class="add-contractor">Add Contractor</button>
</div>
{{addScript "node_modules/jquery/dist/jquery.min.js"}}
{{addScript "node_modules/underscore/underscore-min.js"}}
{{addScript "node_modules/backbone/backbone-min.js"}}
{{addScript "node_modules/firebase/lib/firebase-web.js"}}
{{addScript "node_modules/backbonefire/dist/backbonefire.min.js"}}
{{addScript "scripts/contractors/app-src.js"}}
