 <div class="page-header" d3-demo-container>
    <h1>D3!</h1>
</div>
<div class="bars"></div>
{{addScript "bower_components/jquery/dist/jquery.min.js"}}
{{addScript "bower_components/underscore/underscore-min.js"}}
{{addScript "bower_components/backbone/backbone.js"}}
{{addScript "bower_components/d3/d3.min.js"}}
{{addScript "scripts/d3Demo.js"}}
