<div class="page-header" d3-demo-container>
    <h1>D3!</h1>
</div>
<div class="bars"></div>
{{setAngularApp "d3Demo"}}
{{setAngularAppController "d3DemoController"}}
{{addScript "bower_components/angular/angular.min.js"}}
{{addScript "bower_components/d3/d3.min.js"}}
{{addScript "scripts/d3demo/d3Demo.js"}}
{{addScript "scripts/d3demo/d3DemoService.js"}}
{{addScript "scripts/d3demo/d3DemoController.js"}}
{{addScript "scripts/d3demo/d3DemoContainerDirective.js"}}