{{addStylesheet "stylesheets/ember.css"}}
<!-- client-side Handlebars rendering: use backslash in front of opening angle brackets -->
<!-- http://tilomitra.com/handlebars-on-the-server-and-client/ -->
<script type="text/x-handlebars" data-template-name="todos">
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            /{{input
                type="text"
                id="new-todo"
                placeholder="What needs to be done?"
                value=newTitle
                action="createTodo"}}
        </header>

        <section id="main">
            <ul id="todo-list">
            \{{#each todo in model}}
            <li \{{bind-attr class="todo.isCompleted:completed"}}>
                <input type="checkbox" class="toggle">
                <label>\{{todo.title}}</label><button class="destroy"></button>
            </li>
            \{{/each}}
            </ul>

            <input type="checkbox" id="toggle-all">
        </section>

        <footer id="efooter">
            <span id="todo-count">
                <strong>2</strong> todos left
            </span>
            <ul id="filters">
                <li>
                    <a href="all" class="selected">All</a>
                </li>
                <li>
                    <a href="active">Active</a>
                </li>
                <li>
                    <a href="completed">Completed</a>
                </li>
            </ul>

            <button id="clear-completed">
                Clear completed (1)
            </button>
        </footer>
    </section>
    <footer id="info">
        <p>Double-click to edit a todo</p>
    </footer>
</script>

{{addScript "bower_components/jquery/dist/jquery.min.js"}}
{{addScript "bower_components/handlebars/handlebars.min.js"}}
{{addScript "bower_components/ember/ember.min.js"}}
{{addScript "bower_components/ember-data/ember-data.min.js"}}
{{addScript "scripts/ember-app.js"}}
{{addScript "scripts/ember-router.js"}}
{{addScript "scripts/ember-model-todo.js"}}
