{{addStylesheet "stylesheets/react.css"}}
<div class="react">{{{imageList}}}</div>
{{addScript "bower_components/zepto/zepto.min.js"}}
{{addScript "scripts/react-browser.js"}}
{{addScript "scripts/react-components-browser.js"}}
