{{addStylesheet "stylesheets/react.css"}}
<div class="react"></div>
{{addScript "bower_components/zepto/zepto.min.js"}}
{{addScript "bower_components/react/react.min.js"}}
{{addScript "bower_components/react/JSXTransformer.js"}}
{{addScript "scripts/instagram.js" type="text/jsx"}}
