{{addStylesheet "stylesheets/react.css"}}
<div class="react">
    {{{imageList}}}
</div>
<script id="images" type="application/json">
    {{{ jsonifiedImages }}}
</script>
{{addScript "scripts/photos-browserify-bundle.js"}}
{{addScript "scripts/photos-react-browser.js"}}
