{{addStylesheet "stylesheets/resume.css"}}

    <div id="resume">

    {{#basics}}
    <h1>{{name}}</h1>
    <h2>{{label}}</h2>
    <section id="basics">

        <div class="contact">
        {{#if email}}
        <span class="email">
            <a href="mailto:{{email}}">{{email}}</a>
        </span>
        {{/if}}
        {{#if phone}}
        <span class="phone">
            &middot; {{phone}}
        </span>
        {{/if}}
        {{#if website}}
        <span class="website">
            &middot; <a href="{{website}}">{{website}}</a>
        </span>
        {{/if}}
        </div>

        {{#location}}
        {{#if city}}
        <div class="city">
            {{city}}{{#if region}}, {{region}}{{/if}}
        </div>
        {{/if}}
        {{/location}}
        {{#if summary}}
        <div class="summary">
            <p>{{summary}}</p>
        </div>
        {{/if}}
        {{#if profiles.length}}
        <section id="profiles">
            {{#each profiles}}
            <span class="item">
                {{#if network}}
                {{#if url}}{{#if @first}}{{else}}&middot;{{/if}} <a href="{{url}}" class="network">{{/if}}{{network}}{{#if url}}</a>{{/if}}
                {{/if}}
            </span>
            {{/each}}
        </section>
        {{/if}}
    </section>
    {{/basics}}

    {{#if skills.length}}
    <section id="skills">
        <h2>Skills</h2>
        {{#each skills}}
        <ul class="item">
            {{#if keywords.length}}
            <li>
                <ul class="keywords">
                    {{#each keywords}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/if}}
        </ul>
        {{/each}}
    </section>
    {{/if}}

    {{#if work.length}}
    <section id="work">
        <h2>Work</h2>
        {{#each work}}
        <div class="item">
            {{#if position}}
            <h3 class="position">
                {{position}}
            </h3>
            {{/if}}
            {{#if company}}
            <div class="name-date">
                {{#if website}}<a href="{{website}}">{{/if}}{{company}}{{#if website}}</a>{{/if}}
                &middot;
                {{#if startDate}}
                <span class="startDate">
                    {{startDate}}
                </span>
                {{/if}}
                {{#if endDate}}
                <span class="endDate">
                    - {{endDate}}
                </span>
                {{else}}
                <span class="endDate">
                    - Present
                </span>
                {{/if}} 
            </div>
            {{/if}}
            {{#if summary}}
            <div class="summary">
                <p>{{summary}}</p>
            </div>
            {{/if}}
            {{#if highlights.length}}
            <ul class="highlights">
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        {{/each}}
    </section>
    {{/if}}

    {{#if education.length}}
    <section id="education">
        <h2>Education</h2>
        <ul class="education">
        {{#each education}}
        <li class="item">
            {{#if institution}}
            {{institution}}
            <br>{{#if studyType}}{{studyType}}, {{/if}}{{#if area}}{{area}}{{/if}}
            {{/if}}
        </li>
        {{/each}}
    </section>
    {{/if}}

    </div>
